/* navigation */
#navbar{
    flex-direction: column;
    position: static;

}
#navbar::before{
    content: none;
}
#navbar .user-login{
    position:relative;
    right: 0px;
}
#navbar .logo{
    margin: 0px 34px;
}
#navbar .logo img{
    height: 115px;
}
#navbar ul{
    flex-direction: column;
}
#navbar ul li a{
    padding: 2px 3px;
    font-size: 1.4rem;
    text-align: center;
    letter-spacing: 2px;
    background-color: #ec1c19;
    margin: 3px;
    transition: all 0.5s ease;
}
#navbar ul li a:active{
    transform: scale(1.05);
}
/* home */

#home{
height: 450px;
padding: 0px 34px;
}
#home::before{
    height: 700px;
}
#home h2{
    font-size: 1.3rem;
    padding: 5px;
}
#home .mainheading{
    font-size: 2.5rem;
}

/* services */

#services{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* perks */

#perk-container .partners{
    flex-direction: column;
    padding: 0px;
}

/* clients */

#client-container{
    height: fit-content;
}
.clients{
    flex-wrap: wrap;
}

@media only screen and (max-width: 510px){
    .client-item h1{
        border-right: 0;
        border-bottom: 5px solid black;
    }

}

/* contacts */

@media  only screen and (max-width:600px){
    .contact form{
        width: 60%;
    }
}
@media  only screen and (min-width:600px) and (max-width :1150px){
    .contact form{
        width: 40%;
    }
}

/* utilities */

.btn{
    font-size: 1.4rem;
    width: 120px;
    letter-spacing: 2px;    
}


